
<!-- Not necessary since we're using Ajax to create new service request directly on index page? -->

<div class="container" style="padding-bottom:50px">
  <div class="col-md-6 col-md-offset-4">
	<h2>Start a new request for service from the Epoch Bank community:</h2>
  		<%= render 'form' %>
	</div>
</div>



