<center>
  <p class="lead">How can we help each other?</p>
  <em>Ready to help your fellow Epoch member? Click on a name below to offer your services or to find out what each person can share with you.</em>
</center>
<br>

<!-- /.row -->
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>Community Members</h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th>User</th>
                  <th>City</th>
                  <th>Offers</th>
                </tr>
              </thead>
              <tbody>
                <% @all_users.each do |u| %>
                  <tr>
                    <td>
                      <%= link_to user_path(u) do %>
                        <strong><%= u.first_name %></strong>
                      <% end %>
                    </td>
                    <td><%= u.city %></td>
                    <td><%=u.services_offered %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.table-responsive -->


