<br><br><br><br>
<!-- this should be placeholder text; think of better heading -->
<h1>Show all users</h1>

<% @all_users.each do |u| %>
  <div>
    <a href="/users/<%= u.id %>"><strong><%= u.first_name %></strong></a>, 
    <%= u.city %><br>
    Offers: <%=u.services_offered %>
   <br><br>
  </div>

<% end %>
