<a href="/">TimeBank</a>
<a href="/users/sign_up">Sign up</a>
<a href="/users/sign_in">Log in</a>
<a href="/service_requests">See all service requests</a>
<a href="/service_requests/new">Post a new service request</a>
<a href="/users">See all users</a>