<a name="about"></a>
<div class="intro-header-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>About Us</h1>
          <h3>Meet the team behind the magic.</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->


<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">We're Epoch, and so are you.</h3>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-6">
        <div class="team-member">
          <img src="/assets/annie.jpeg" class="img-responsive img-circle" alt="">
          <h4>Annie Pennell</h4>
          <p class="text-muted">Project Manager/Devise Diva</p>
          <blockquote><p>Annie handled devise with ease, and will authenticate your existence. Definitely the Richard of OurBank. And don't touch her Trello board, seriously.</p></blockquote>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="team-member">
          <img src="/assets/james.jpeg" class="img-responsive img-circle" alt="">
          <h4>James Bradley</h4>
          <p class="text-muted">Back-End/API Wrangler</p>
          <blockquote><p>James told Twilio his word shall be law, and Twilio's API replied with a 200 OK. His back-end and API mastery has been sent to your phones- check notifications.</p></blockquote>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="team-member">
          <img src="/assets/lyn.jpeg" class="img-responsive img-circle" alt="">
          <h4>Lyn Muldrow</h4>
          <p class="text-muted">Front-End Magician</p>
          <blockquote><p>Lyn likes front-end so much, she frequently dreams in HTML/CSS/Bootstrap/Javascript. Imagine how colorful her dreams are! They often include unicorns as well.</p></blockquote>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="team-member">
          <img src="/assets/steven.jpeg" class="img-responsive img-circle" alt="">
          <h4>Steven Gordon</h4>
          <p class="text-muted">Git Master/Rails Hero</p>
          <blockquote><p>Steven took his baby from infancy to adulthood, and willed Rails magic to comply to project specs with a little help from his team. His command of databases is beyond impressive.</p></blockquote>
        </div>
      </div>
    </div>
  </div>
</section>