<!-- Header -->

   <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Epoch</h1>
                        <h3>Put time in, get time out.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/users/sign_up" class="btn btn-default btn-lg"><span class="network-name">Get Started</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Time and skills are valuable currency.</h2>
                    <p class="lead">Epoch is an exchange of talent, paid for by your time and skills. Watch this short video to learn more about what we do.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <iframe width="460" height="315" src="https://www.youtube.com/embed/ud5HVh500J0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Ready to share?</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><span class="network-name">Start banking</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->